*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.promo{
    height: 800px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 38px 0 691px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14px;
}

h1{
    padding-top: 53px;
}

h2.title{
    margin-top: 30px;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 21px;
}